.alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px; 
    height: 350px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    background-color: rgb(22, 27, 61);
}

.create-task-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    background-color: transparent;

}

.create-task-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: transparent;
    margin-top: -60px;
    margin-bottom: -20px;
}

.task-form-inputs {
    margin-bottom: 16px; 
}

.task-form-inputs label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

.task-form-inputs input,
.task-form-inputs textarea {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.task-form-inputs textarea {
    height: 120px; /* Adjusted for consistency */
    resize: vertical;
}

.create-task-button, .back-to-project-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.8s, transform 0.5s;
    align-self: center;
}

..create-task-button {
    width: 100%;
    margin-top: -10px;
}

.create-task-button:hover, .back-to-project-button:hover {
    background-color: orange;
    color: rgb(22, 27, 61);
}

.errors-p {
    color: red;
    font-size: 10px;
    margin-top: 0px;
}

@media (max-width: 480px) {
    .alignment, .create-task-form {
        width: 300px; /* Ensures responsiveness on smaller screens */
    }
}
