.popout-message-container {
    position: relative;
	left: 480px;
	bottom: 0px;
    display: inline-block; 
	margin-bottom: 40px;
	z-index: 100;
}

.popout-message-container .fa-message {
    cursor: pointer;
	filter:hue-rotate(80deg), saturate(100%) ;

}

.popout-message {
    position: absolute;
    right: 100%; 
    bottom: 0; 
    width: 300px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    z-index: 10; 
    margin-right: 10px;
}

.popout-message {
    transition: all 0.3s ease;
    transform: translateX(0%);
    opacity: 1;
}

.popout-message.hidden {
    display: none; 
}

.popout-message.visible {
    display: block; 
}

