.project-card-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3-column layout */
    grid-gap: 12px; 
    padding: 24px;
}

.user-project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px;
    padding: 20px;
    transition: box-shadow 0.3s;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    margin-top: 0;
}

.project-actions {
    position: absolute;
    bottom: 25px; 
    right: 20px; 
    display: flex;
}
.project-actions > button {
    margin-left: 5px;
    margin-right: 5px;
}


.user-project-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.user-project-title {
    font-size: 1.5em;
    color: #333;
}

.user-project-detail {
    color: #666;
    font-size: 1em;
    margin-bottom: 5px;
}

.user-project-public {
    color: #4CAF50;
    font-weight: bold;
}


.edit-project-button, .delete-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    /* margin: 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 10px;
    height: 20px;
    
}

.edit-project-button {
    background-color: transparent; 
    color: darkblue
}

.edit-project-button:hover {
    background-color: #45a049; 
    color: whitesmoke;
}

.delete-project-button {
    background-color:  transparent;
    color: darkred
}

.delete-project-button:hover {
    background-color: #da190b; 
    color: whitesmoke
}


.projects-page-create-project-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-page-create-project-button {
    padding: 10px 20px; 
    margin: 25px 5px; 
    background-color: #0f355d; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.1s; 
}

.project-page-create-project-button:hover {
    background-color: #7fb7f2; 
    transform: translateY(-2px); 
}

.project-page-create-project-button:active {
    transform: translateY(1px);

}