.project-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px; 
    margin: 0 auto;
}

.user-project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(22, 27, 61);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    margin-top: 0;
    height: 200px;
}


.project-actions {
    position: absolute;
    bottom: 25px; 
    right: 20px; 
    display: flex;
}
.project-actions > button {
    margin-left: 5px;
    margin-right: 5px;
}


.user-project-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.user-project-title {
    font-size: 1.5em;
    color: white;
    text-align: left;
    text-wrap: wrap;
	word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	flex-grow: 1; 
    margin-bottom: -100px
}

.user-project-detail {
    color: white;
    font-size: 1em;
    text-wrap: wrap;
	word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	flex-grow: 1; 
    margin-bottom: -20px
}

.user-project-date {
    color:  rgb(171, 164, 247);
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: -10px;
}

.user-project-public {
    color: #15cc1b;
    font-weight: bold;
}

.projects-task-count {
    color: #f88900;
    font-weight: bold;
    margin-bottom: -10px;
}



.edit-project-button, .delete-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s, transform 0.5s;
    font-size: 10px;
    height: 20px; 
}


.edit-project-button {
    background-color: transparent; 
    color: white
}

.edit-project-button:hover {
    background-color: #45a049; 
    color: whitesmoke;
}

.delete-project-button {
    background-color:  transparent;
    color: white
}

.delete-project-button:hover {
    background-color: red; 
    color: white;
}


.projects-page-create-project-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-page-create-project-button {
    padding: 10px 20px; 
    margin: 25px 5px; 
    background-color: rgb(22, 27, 61); 
    color: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.8s, transform 0.5s; 
}

.project-page-create-project-button:hover {
    background-color: #7fb7f2;  
    transform: translateY(-2px); 
    color:rgb(22, 27, 61);  
}

.project-page-create-project-button:active {
    transform: translateY(1px);

}

.project-card-component {
    width: 900px;
}

