.task-card-div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:  rgb(22, 27, 61);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 10px;
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	transition: transform 0.8s ease, box-shadow 0.5 ease-in-out;
}

.task-card-div:hover {
	transform: translateY(-2px);
	box-shadow: 0 10px 15px rgba(255, 255, 255, 0.25);
}

.task-card-task-name {
    font-size: 12px; 
    color: white;
    margin-bottom: 10px;
	display: -webkit-box;
    text-wrap: wrap;
	word-break: break-word;
	margin-top: -12px;
	text-align: left;
}

.task-card-task-description {
    font-size: 10px;
    color: white;
    margin-bottom: 15px; 
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* shows a  max 3 lines to keeep cards cleannn */
    -webkit-box-orient: vertical;
	flex-grow: 1; 
}


.task-edit-button, .task-delete-button, .modal-delete-task {
	border: none; 
    border-radius: 50px; 
	width: 30px;
	height: 30px;
    cursor: pointer; 
	text-align: center;
  	text-decoration: none;
	font-size: 10px;
	margin-right: 5px;
	transition: background-color, color 0.5s, transform 0.2s; 
}

.task-edit-button {
	background-color:  #6ca8e9;
	color: rgb(22, 27, 61)
}

.task-edit-button:hover {
	background-color: #15cc1b;
	color: white;
}

.task-delete-button {
	background-color:  #6ca8e9;
	color: rgb(22, 27, 61)
}

 .task-delete-button:hover {
	background-color:  red;
	color: white;
}

.task-details-bottom-div {
	position: absolute;
    bottom: 0px;
    left: 15px; 
    right: 15px;
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 115px;
	margin-bottom: 0px;
}
.task-details-bottom-div > div {
	margin-right: -5px;;
}

.task-card-task-finished { 
	margin-bottom: 0px;
	font-size: 8px;
	text-align: center;
	color: #f88900;
}

.task-toggle {
	margin-bottom: 12px;
	margin-left: 0px;
}

.task-card-task-finished .is-checked {
	color: white;
}
