
.navigation-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  rgb(22, 27, 61);
  height: 40px;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2; 
}

.navigation-link, .navigation-home-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #cccccc; 
  padding: 0 16px;
  z-index: 50;
}

.navigation-link:hover, .navigation-home-button:hover {
  transform: scale(1.02)
}

.navigation-active-link {
  color: white !important;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 28px;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 100;
  margin-top: -15px;
  width: 100px;
  background-color:  rgb(22, 27, 61);
}

.profile-dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 40px;
  list-style-type: none;
  color: white;
  text-align: center;
  font-size: 10px;
  width: 100px;
}

.profile-dropdown li:hover {
 cursor: arrow;
}

.dropdown-logout{
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.8s ease;
  background-color: rgb(55, 136, 249);
  color: rgb(22, 27, 61);
  height: 30px;
  margin-top: -5px;
  width: 100px;
}

.dropdown-profile {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(22, 27, 61);
  transition: background-color 0.8s ease;
  background-color: rgb(55, 136, 249);
  height: 30px;
  margin-top: -5px;
  width: 100px;
}

.dropdown-logout:hover {
  background-color: red;
  color: white;
}

.dropdown-profile:hover {
  background-color: #6ca8e9; 
  color: white
}


.hidden {
  display: none;
}

.nav-signIn-signUp-div {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.main-modal-button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.8s ease;
  height: 35px;
  background-color: transparent;
}


.main-modal-button:hover, .signout-btn:hover {
  background-color: #43a047; 
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
  
}

.profile-button:hover {
  transform: scale(1.15);
}

#cclogo {
  height: 30px;
}

.fa-user-circle {
  font-size: 30px;
  color: darkorange
}

.fa-user-circle:hover {
  color: lightblue;
  transition: color 0.3s ease;
}