.main-profile-back {
	display: flex;
	margin-top: -10px;
	z-index: 0;
}


.user-profile-dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
  }
  
  .user-stats, .user-projects, .user-collaborations, .user-badges {
	background-color: rgb(22, 27, 61);
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 920px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }


  
  .user-stats p, .user-projects ul, .user-collaborations div, .user-badges div {
	margin: 10px 0;
  }
  
  .user-collaborations h3, .user-badges h3 {
	color: #9e8efb;
	margin-bottom: 15px;
  }
  
  .user-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  .projects-h3 {
	cursor: pointer;
	color: rgb(22, 27, 61);
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	color: white
  }

  .projects-h3:hover {
	color: rgb(22, 27, 61);
	background-color:#9e8efb;
  }

  
  .project-list-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row-wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 800px;
	margin-top: 20px;
  }
  
  .project-list-main > p {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	cursor: pointer;
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
	min-width: 120px; 
	max-width: 120px;
	height: 20px;
	font-size: 12px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
  }
  
  .user-projects div p:hover {
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-back-to-user-proj:hover, .collab-button:hover {
	background-color: #7fb7f2;
	color: white;
  }
  .grid-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  .collab-grid-div {
	/* display: grid;
	grid-template-columns: repeat(4, 1fr);  */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 12px;
	justify-content: center;
	align-items: center;
	margin: 20px;

  }

  .user-collab-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	width: 200px;
	padding: 5px;
	box-sizing: border-box;
	margin: 20px;
	transition: background-color 0.3s ease;
  }

  .user-collab-div:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
  }

  .project-p, .status-p {
	margin-top: -10px;

  }

  .user-icon {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: orange;
  }
  .username-p {
	margin-top: 10px;
  }
  
  .modal.button.request {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	width: 50px;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  @media (max-width: 768px) {
    .user-profile-dashboard, .user-stats, .user-projects, .user-collaborations, .user-badges {
        width: 90%; /* Adjust to use the full available width, or set a specific width */
        padding: 20px;
		box-sizing: border-box;
		display: flex;
		margin: auto;
		margin-top: 20px;
    }

    .project-list-main, .collab-grid-div {
        width: 100%; /* Ensure these containers also adjust to match the parent width */
    }
}

@media (max-width: 480px) {
    .user-profile-dashboard, .user-stats, .user-projects, .user-collaborations, .user-badges {
        width: 95%; /* Provide some margin on the sides */
        box-sizing: border-box; /* Include padding in the element's total width and height */
        margin: 10px auto; /* Center the elements within the viewport */
    }

    .project-list-main, .collab-grid-div {
        width: 100%; /* Adjust if necessary for the content */
        flex-direction: column; /* Stack items vertically if they were in a row */
    }
	.user-stats {
		margin-top: 40px;
	}

	.main-public-back-button {

		width: 155px
	
	}
}