

.project-container {
	display: flex;
	justify-content: center;
  }

  
  .main-project-details-div {

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 900px;

  }

  .project-info {
	display: flex;
	flex-direction: row;
	margin-top: 0px;

  }
  
  .project-name {
	font-size: 20px;
	color: darkblue;
	text-align: left;
	margin-right: 60px;
  }
  
  .project-description {
	font-size: 14px;
	color: rgb(55, 32, 85);
  }
  
  .project-name-div {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  margin-top: -30px;
	  margin-left: 0px;
	  margin-right: 600px;
	}
	
	.project-public {
		font-size: 12px;
		font-weight: bold;
		margin-top: -10px;
		text-align: right;
	}
	
	.task-count {
		font-size: 12px;
		color: black;
		margin-top: -10px
	}
	
	
	.detail-span {
		margin-top: -15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.project-detail {
	  font-size: 12px;
	  color: grey;
	  text-align: right; 
	}
	
  .project-description-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }

  .project-details-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .add-task-button {
	background-color: darkorange;
	color: white;
	font-size: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;
  }
  
  .add-task-button:hover {
	background-color: orange;
	transform: translateY(-2px);  
  }

  .project-details-actions {
	display: flex;
	margin-top: -10px;
  }


.nav-to-create, .nav-to-user-proj {
	background-color: transparent; 
	color: darkblue; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s, transform 0.1s; 
	font-size: 10px;
	height: 20px;
	margin-bottom: 5px;
	font-weight: bold;

}
	
 .nav-to-user-proj:hover {
	background-color: #7fb7f2; 
    /* transform: translateY(-2px);   */
}

.nav-to-create:hover {
	background-color: rgb(22, 166, 80);
    /* transform: translateY(-2px);  */
}

.project-details-center-div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.project-details-mid-div-1, .project-details-mid-div-2, .project-details-mid-div-3 {
	width: 300px
}

.project-details-mid-div-1 > p {
	margin-top: -10px;
	width: 100px
}
