

.project-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }

  
  .main-project-details-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:  rgb(22, 27, 61);
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 920px;

  }

  .project-info {
	display: flex;
	flex-direction: row;
	margin-top: 0px;

  }
  
  .project-name {
	font-size: 20px;
	color: white;
	text-align: left;
	margin-right: 60px;
  }
  
  .project-description {
	font-size: 14px;
	color: white;
  }
  
  .project-name-div {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  margin-top: -30px;
	  margin-left: 0px;
	  margin-right: 600px;
	}
	
	.project-public {
		font-size: 12px;
		font-weight: bold;
		margin-top: -10px;
		text-align: right;
	}
	
	.task-count {
		font-size: 12px;
		color: white;
		margin-top: -10px
	}
	
	
	.detail-span {
		margin-top: -15px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.project-detail {
	  font-size: 12px;
	  color: #f88900;
	  text-align: right; 
	}

  .project-public {
	color: #15cc1b;
  }

  .task-count { 
	color: #f88900;
  }
	
  .project-description-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
  }


  .project-details-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  
  .add-task-button:hover {
	background-color: orange;
	transform: translateY(-2px);  
  }

  .project-details-actions {
	display: flex;
	margin-top: -10px;
  }


.nav-to-create, .nav-to-user-proj {
	background-color: transparent; 
	color: darkblue; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s, transform 0.1s; 
	font-size: 10px;
	height: 20px;
	margin-bottom: 5px;
	font-weight: bold;
	color: white;

}
	
 .nav-to-user-proj:hover {
	background-color: #7fb7f2; 
    /* transform: translateY(-2px);   */
}

.nav-to-create:hover {
	background-color: rgb(22, 166, 80);
    /* transform: translateY(-2px);  */
}

.project-details-center-div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.project-details-mid-div-1, .project-details-mid-div-2, .project-details-mid-div-3 {
	width: 300px
}

.project-details-mid-div-1 > p {
	margin-top: -10px;
	width: 100px
}

.files-h, .files-p {
	margin-left: -15px;
    color: #9e8efb; 
}


.add-task-button {
	background-color: darkorange;
	color: rgb(22, 27, 61);
	font-size: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;
  }
  
  .add-task-button:hover {
	  background-color: orange;
	  transform: translateY(-2px);  
	}

.nav-back-to-user-proj {
	padding: 10px 20px; 
	color:  rgb(22, 27, 61);
	background-color:  #15cc1b;
	font-size: 10px;
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s, transform 0.1s; 
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;
}

.nav-back-to-user-proj:hover {
	background-color: #6ca8e9; 
	transform: translateY(-2px);
}


.task-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-gap: 10px; 
	padding: 10px;
}
  

	/* small window */
  @media (max-width: 768px) {
	.task-grid {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  /* mobile */
  @media (max-width: 480px) {
	.task-grid {
	  grid-template-columns: 1fr; 
	}

	.project-info {
		flex-direction: column;
	}
  }