
/* 
.create-project-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
	padding: 40px;
}

.create-project-form {
    max-width: 600px;
	width: 600px; 
	height: 420px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    background: white; 
}

.project-form-inputs {
    margin-bottom: 16px; 
}

.project-form-inputs label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600; 
    margin-top: 10px;
}

.project-form-inputs input,
.project-form-inputs textarea {
    width: 100%; 
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}

.project-form-inputs textarea {
    height: 100px; 
    resize: vertical;
}

.submit-project-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 12px;
	transition: background-color 0.3s, transform 0.1s;
}

.submit-project-button:hover {
    background-color: orange;
	color: darkblue;
}

.errors-p {
    color: red;
    font-size: 10px;
	margin-top: 0px;
}

.public-private {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.public-private > input {
    margin-left: -250px;
    margin-top: 10px;
    height: 20px;
} */